<div class="flex min-h-[80vh] items-center justify-center">
  <div class="max-w-md text-center">
    <div class="flex justify-center">
      <img
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
        alt="404"
        class="h-1/2 w-1/2"
      />
    </div>
    <h1 class="mt-4 text-5xl font-bold text-green-900">404</h1>
    <p class="mt-2 text-xl text-green-600">Page Not Found</p>
    <p class="mt-4 text-green-500">
      The page you are looking for does not exist or has been moved.
    </p>
    <button
      onclick="location.href='/'"
      class="mt-6 rounded-lg bg-green-600 px-4 py-2 text-white transition duration-200 hover:bg-green-700"
    >
      Go to Home
    </button>
  </div>
</div>
