<nav
  class="border-gray-200 bg-green-50 shadow-sm shadow-green-200 dark:bg-gray-900"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <a href="/" class="text-xl font-bold text-green-700">Products app</a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-4 md:border-0 md:bg-transparent md:p-0 md:dark:bg-gray-900 rtl:space-x-reverse"
      >
        @for (url of urls; track url.title) {
          <li>
            <a
              routerLink="{{ url.path }}"
              [routerLinkActiveOptions]="{ exact: true }"
              class="my-2 block rounded bg-green-100 px-3 py-2 capitalize text-green-700 duration-100 hover:bg-green-400 hover:text-white dark:text-white md:my-0 md:bg-transparent md:px-2 md:py-1 md:text-green-700 md:hover:bg-green-500 md:hover:text-white md:dark:text-green-500"
              aria-current="page"
              routerLinkActive="bg-green-400 text-white md:bg-green-500 md:text-white "
            >
              @if (url.title === "cart") {
                <svg
                  class="h-6 w-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
                  />
                </svg>
              } @else {
                {{ url.title }}
              }
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
