@if (data.length > 0) {
  <div>
    <div class="mb-8">
      <h4 class="text-2xl font-semibold text-green-800">
        Total:
        <span class="ms-4">{{ totalPrice | currency: "USD" }}</span>
      </h4>
    </div>
    <div class="grid grid-cols-1 gap-y-6 xl:grid-cols-2">
      @for (cartItem of data; track cartItem.product.id) {
        <app-cart-item
          [cartItem]="cartItem"
          [index]="$index"
          (quantityChangeEmitter)="updateQuantity($event)"
          (deleteItemEmitter)="deleteItem($event)"
        />
      }
    </div>
  </div>
} @else {
  <div
    class="flex min-h-[70dvh] w-full flex-col items-center justify-center gap-6"
  >
    <div class="w-64">
      <img src="empty-cart.png" alt="empty cart" />
    </div>
    <p class="text-2xl text-green-900">
      Please start adding items by visiting home page.
    </p>
    <a
      routerLink="/"
      class="inline-block rounded-lg bg-green-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300"
      >Home</a
    >
  </div>
}
